{
  "logger": {
    "demo": "DEBUG",
    "aio": "DEBUG"
  },
  "httpConsumer": {
    "url": {
      "protocol": "http",
      "host": "0.0.0.0",
      "port": 8888,
      "path": ""
    },
    "orchestration": {
      "systemName": "demo_Temperature_Consumer",
      "authenticationInfo": "null",
      "orchestrationFlags": {
        "onlyPreferred": false,
        "overrideStore": true,
        "externalServiceRequest": false,
        "enableInterCloud": true,
        "enableQoS": false,
        "matchmaking": false,
        "metadataSearch": true,
        "triggerInterCloud": false,
        "pingProviders": false
      },
      "preferredProviders": [],
      "requestedQoS": {},
      "commands": {}
    },
    "serviceToConsume": {
      "serviceDefinition": "http-temperature",
      "interfaces": [
        "SenML"
      ],
      "metadata": {
        "unit": "celsius"
      }
    }
  },
  "httpFiwareConsumer": {
    "url": {
      "protocol": "http",
      "host": "0.0.0.0",
      "port": 8889,
      "path": ""
    },
    "orchestration": {
      "systemName": "demo_Temperature_Consumer",
      "authenticationInfo": "null",
      "orchestrationFlags": {
        "onlyPreferred": false,
        "overrideStore": true,
        "externalServiceRequest": false,
        "enableInterCloud": true,
        "enableQoS": false,
        "matchmaking": false,
        "metadataSearch": true,
        "triggerInterCloud": false,
        "pingProviders": false
      },
      "preferredProviders": [],
      "requestedQoS": {},
      "commands": {}
    },
    "serviceToConsume": {
      "serviceDefinition": "FIWARE-temperature",
      "interfaces": [
        "FIWARE"
      ],
      "metadata": {
        "unit": "celsius"
      }
    }
  },
  "httpProducer": {
    "url": {
      "protocol": "http",
      "host": "0.0.0.0",
      "port": 8080,
      "path": "temperature"
    },
    "systemName": "demo_system_http-temperature_provider",
    "temperatureServiceDefinition": "http-temperature",
    "interfaces": [
      "SenML"
    ],
    "metadata": {
      "unit": "celsius"
    }
  },
  "arrowhead": {
    "serviceRegistry": {
      "protocol": "http",
      "host": "0.0.0.0",
      "port": 8442,
      "path": "serviceregistry"
    },
    "orchestration": {
      "protocol": "http",
      "host": "0.0.0.0",
      "port": 8440,
      "path": "orchestrator"
    }
  },
  "fiwareProducer": {
    "fiwareBrokerURL": {
      "protocol": "http",
      "host": "0.0.0.0",
      "port": 8462,
      "path": ""
    },
    "producerEntity": {
      "id": "fiware_demo_temperature_producer",
      "type": "temperature"
    }
  },
  "fiwareConsumer": {
    "id": "",
    "type": "temperature"
  },
  "fiwareHttpConsumer": {
    "id": "",
    "type": "http-temperature"
  },
  "numberOfSteps": 400,
  "sleepTime": 100
}